@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 4px solid black;
}

::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border: 4px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}
